<html>
<title>About</title>
<head>
<meta name="viewport" content="width=device-width">
<link rel="icon" href="static/images/pop1.png" sizes="400x400"/>
</head>
<body style="background-color:rgb(246, 198, 202);">
<h1> Hey There,</h1>
<p style="  position: absolute;
color: black;
font-size: 25px;
font-weight: bold">The Website Developer : Ramesh Maddisetty</p>
<br>
<br>
<br>
<br>

<p style="  position: absolute;
color: black;
font-size: 25px;
font-weight: bold"> Here for this website we have used Django for backend to fetch data and validate the credentials, we have used
<br></p>
<p style="  position: absolute;
top: 180px;
color: black;
font-size: 25px;
font-weight: bold"> HTMS,CSS and javascript to build and work with website functionolity, and we created seperate pages for different</p>
<p style="  position: absolute;
top: 220px;
color: black;
font-size: 25px;
font-weight: bold">purpose which includes Login, register,contcat detail page and main Home page called INDEX.</p>
</body>
</html>