<!-- success.html / error.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>

<html>
<title>Login</title>
<head>
<meta name="viewport" content="width=device-width">

</head>
<body style="background-color:rgb(246, 198, 202);">
    <h1>{{ message }}</h1>
<div class="container yes"style="text-align:center;">

    <form action="create_salesforce_account" method="post">
        {% csrf_token %}
<br>
<br>
<br>
<br>
      <label for="text"><b>Username</b></label>
       
       <input type="text" name="username" placeholder="username" name="ps" id="ps" required><br>


      <br><label for="pws"><b>Password</b></label>
      
      <input type="password" name="password" placeholder="password"name="psw" id="psw" required><br>

    
   <button type="submit">Login</a></button>
    <poiuhg type="register" ><a href="register">Create One</a></button>

    <p><b>Forget  </b><a href="login">password?</a></p>
 
    </div>
  </div>
</div>
</div>
</body>
</html>

